<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Artículo</title>
</head>
<body>
<!-- Verificar si hay al menos un artículo en la lista -->
<!-- Verificar si hay al menos un artículo en la lista -->
<th:block th:if="${not #lists.isEmpty(listArticulos)}">
    <!-- Iterar sobre cada artículo en la lista -->
    <th:block th:each="articulo, iterStat : ${listArticulos}">
        <!-- Contenido del artículo -->
        <h1><a th:href="'/articulo/' + ${articulo.getId()}" th:text="${articulo.getTitulo()}"></a></h1>
        <p class="lead"><i class="fa fa-user"></i> <a href="" th:text="${articulo.getAutor().getUsername()}"></a></p>
        <hr>
        <p> Posted on <i class="fa fa-calendar" th:text="${articulo.getFecha()}"></i> </p>
        <th:block th:with="etiquetasString=${''}">
            <p><i class="fa fa-tags"></i> Tags:
                <span th:each="etiqueta, etiquetaStat : ${articulo.getListaEtiquetas()}">
                    <span class="badge badge-info" th:text="${etiqueta.getEtiqueta()}"></span>
                    <span th:if="${!etiquetaStat.last}"> </span>
                </span>
            </p>
        </th:block>
        <th:block>
            <p th:text="${articulo.getCuerpo()}"></p>

            <!-- Formulario de eliminación -->
            <form th:action="@{/eliminarArticulo}" method="post">
                <!-- Campo oculto para enviar el ID del artículo -->
                <input type="hidden" name="idArticulo" th:value="${articulo.getId()}" />
                <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este artículo?')" style="background-color: red; color: white; padding: 5px 10px; border: none; cursor: pointer;">Eliminar</button>
            </form>
        </th:block>
    </th:block>
</th:block>


</body>
</html>
