<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Artículo</title>
    <link href="/css/mostrarArticulo.css" rel="stylesheet">
</head>
<body>
<!-- Verificar si hay al menos un artículo en la lista -->
<!-- Verificar si hay al menos un artículo en la lista -->
<!-- Contenido del artículo -->
<h1><a th:href="'/articulo/' + ${articulo.id}" th:text="${articulo.titulo}"></a></h1>
<p class="lead"><i class="fa fa-user"></i> <a href="" th:text="${articulo.autor.username}"></a></p>
<hr>
<p> Posted on <i class="fa fa-calendar" th:text="${articulo.fecha}"></i> </p>
<th:block th:with="etiquetasString=${''}">
    <p><i class="fa fa-tags"></i> Tags:
        <span th:each="etiqueta, etiquetaStat : ${articulo.listaEtiquetas}">
            <span class="badge badge-info" th:text="${etiqueta.etiqueta}"></span>
            <span th:if="${!etiquetaStat.last}"> </span>
        </span>
    </p>
</th:block>

        <th:block>
            <p th:text="${articulo.getCuerpo()}"></p>

            <!-- Formulario de eliminación -->
            <form th:action="@{/eliminarArticulo}" method="post">
                <!-- Campo oculto para enviar el ID del artículo -->
                <input type="hidden" name="idTitulo" th:value="${articulo.getTitulo}" />
                <button type="submit" id="delete-button" style="background-color: red; color: white; padding: 5px 10px; border: none; cursor: pointer;">Eliminar</button>
            </form>

        </th:block>
    </th:block>
</th:block>


</body>
</html>
