<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla General</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url("../img/6fe01f5fbe372a2b045f66a79be7b210.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100vh;
        }

        .navbar {
            padding-top: 2%;
        }

        h1 {
            color: white;
        }

        .container {
            height: 100vh;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center ">

            <nav class="navbar col-md-6 col-xs-6" role="navigation">
                <div class="navbar-header">
                    <!-- Botón de Login -->
                    <span th:if="${usuario != null}">

                        <span th:text="${usuario.nombre}" style="color: white;"></span>
                        <a class="btn btn-sm btn-primary navbar-btn" href="/logout">Logout</a>

                    </span>
                    <!-- Nombre del usuario -->
                    <span th:if="${usuario == null}">
                        <a class="btn btn-sm btn-primary navbar-btn" href="/login">Login</a>

                    </span>
                    <!-- ... -->
                </div>
            </nav>
        </div>


        <div class="mt-5 mb-3 text-center">
            <h1>Bienvenido <span th:text="${usuario.getNombre}"></span></h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-xs-4 col-md-6 col-lg-6">
                <div class="btn-group-vertical d-flex">
                    <button class="btn btn-primary mb-2"
                        onclick="window.location.href = '/html/formulario.html';">Formulario</button>
                    <button class="btn btn-secondary mb-2"
                        onclick="window.location.href='/html/mapa.html'">Mapa</button>
                    <button class="btn btn-secondary mb-2"
                        onclick="window.location.href = '/html/administrarRegistros.html';">Administrar
                        Registros</button>
                    <button class="btn btn-secondary mb-2"
                        onclick="window.location.href = '/plantillaGeneral/administrarUsuarios';">Administrar
                        Usuarios</button>
                    <button id="botonSincronizar" class="btn btn-danger mb-2" style="display: none;"
                        onclick="conectar()">Sincronizar</button>
                </div>
            </div>
        </div>

    </div>

    <!-- JavaScript para manejar la sincronización con WebSockets -->
    <script>
        // function conectar(){
        //     // Conectar con el servidor WebSocket
        //     //Para trabajar local:
        //     // const socket = new WebSocket("ws://"+location.hostname+":"+location.port+"/plantillaGeneral/sincronizar"); // Cambia la URL por la del servidor WebSocket
        //
        //     //En el servidor
        //     const socket = new WebSocket("wss://parcial.friasluna.me/plantillaGeneral/sincronizar"); // Cambia la URL por la del servidor WebSocket
        //
        //     // Manejar la apertura de la conexión WebSocket
        //     socket.onopen = function() {
        //         console.log('Conexión establecida con el servidor WebSocket');
        //
        //         // Recuperar registros de IndexedDB
        //         var indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;
        //         var request = indexedDB.open("FormularioDB", 1);
        //
        //         request.onerror = function(event) {
        //             console.error('Error al abrir la base de datos:', event.target.errorCode);
        //         };
        //
        //         request.onsuccess = function(event) {
        //             var db = event.target.result;
        //             var transaction = db.transaction(["formularios"], "readwrite"); // Cambiar a modo de escritura
        //             var objectStore = transaction.objectStore("formularios");
        //             var formularios = [];
        //
        //             // Obtener registros con estado = 0
        //             objectStore.openCursor().onsuccess = function(event) {
        //                 var cursor = event.target.result;
        //                 if (cursor) {
        //                     if (cursor.value.estado === 0) {
        //                         // Actualizar el estado del registro a 1
        //                         cursor.value.estado = 1;
        //                         var updateRequest = cursor.update(cursor.value);
        //                         updateRequest.onsuccess = function() {
        //                             console.log("Estado actualizado a 1 para el registro con ID: " + cursor.value.id);
        //                         };
        //                         updateRequest.onerror = function() {
        //                             console.error("Error al actualizar el estado del registro");
        //                         };
        //                         formularios.push(cursor.value);
        //                     }
        //                     cursor.continue();
        //                 } else {
        //                     // Enviar registros al servidor WebSocket
        //                     socket.send(JSON.stringify(formularios));
        //                     // Mostrar mensaje de éxito
        //                     alert('¡Sincronización exitosa!');
        //                 }
        //             };
        //         };
        //
        //     };

        // // Manejar los errores de la conexión WebSocket
        //     socket.onerror = function(error) {
        //         // Mostrar un mensaje emergente en el navegador con el error
        //         alert('Error en la conexión WebSocket: ' + error.message);
        //     };
        //
        //
        //     // Manejar los mensajes recibidos del servidor WebSocket
        //     socket.onmessage = function(event) {
        //         console.log('Mensaje recibido del servidor WebSocket:', event.data);
        //         // Puedes agregar aquí la lógica para manejar la respuesta del servidor si es necesario
        //     };
        // }




        //USANDO AJAX:
        function conectar() {
            // Recuperar registros de IndexedDB
            var indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;
            var request = indexedDB.open("FormularioDB", 1);

            request.onerror = function (event) {
                console.error('Error al abrir la base de datos:', event.target.errorCode);
            };

            request.onsuccess = function (event) {
                var db = event.target.result;
                var transaction = db.transaction(["formularios"], "readwrite"); // Cambiar a modo de escritura
                var objectStore = transaction.objectStore("formularios");
                var formularios = [];

                // Obtener registros con estado = 0
                objectStore.openCursor().onsuccess = function (event) {
                    var cursor = event.target.result;
                    if (cursor) {
                        if (cursor.value.estado === 0) {
                            // Actualizar el estado del registro a 1
                            cursor.value.estado = 1;
                            var updateRequest = cursor.update(cursor.value);
                            updateRequest.onsuccess = function () {
                                console.log("Estado actualizado a 1 para el registro con ID: " + cursor.value.id);
                            };
                            updateRequest.onerror = function () {
                                console.error("Error al actualizar el estado del registro");
                            };
                            formularios.push(cursor.value);
                        }
                        cursor.continue();
                    } else {
                        // Enviar registros al servidor a través de AJAX
                        // Convertimos los datos a JSON

                        let datosJson = JSON.stringify(formularios);
                        console.log("JSON enviado:"+datosJson);
                        // Usamos AJAX para enviar los datos al servidor
                        $.ajax({
                            url: "/plantillaGeneral/sincronizar",
                            type: "post",
                            data: datosJson,
                            contentType: "application/json",
                            success: function(data, status) {
                                console.log(data);
                                console.log("Estado es:" + status);
                            }
                        });

                        $.ajax({
                            url: "/plantillaGeneral/obtenerRegistros", // URL del endpoint para obtener registros
                            type: "get",
                            success: function(data, status) {
                                var registros = data; // Deserializar los datos JSON
                                console.log(data)

                                // Abrir una transacción para agregar los registros a la base de datos
                                var transaction = db.transaction(["formularios"], "readwrite");
                                var objectStore = transaction.objectStore("formularios");

                                for (var i = 0; i < registros.length; i++) {
                                    var request = objectStore.put(registros[i]); // Usar 'put' en lugar de 'add'

                                    request.onsuccess = function() {
                                        console.log("Registro agregado a la base de datos");
                                    };

                                    request.onerror = function() {
                                        console.error("Error al agregar el registro a la base de datos");
                                    };
                                }
                            }
                        });

                    }
                };
            };
        }



        // Función para verificar si la estructura de la base de datos IndexedDB existe
        // Función para verificar la estructura de la base de datos
        function verificarEstructuraIndexedDB() {
            var request = indexedDB.open("FormularioDB", 1);

            request.onsuccess = function (event) {
                var db = event.target.result;

                // Verificar si el almacén de objetos "formularios" existe en la base de datos
                if (db.objectStoreNames.contains("formularios")) {
                    // El almacén de objetos "formularios" existe, muestra el botón de sincronización
                    document.getElementById("botonSincronizar").style.display = "block";
                } else {
                    // El almacén de objetos "formularios" no existe, oculta el botón de sincronización
                    document.getElementById("botonSincronizar").style.display = "none";
                }
            };

            request.onerror = function () {
                // Error al abrir la base de datos, oculta el botón de sincronización
                document.getElementById("botonSincronizar").style.display = "none";
            };
        }

        // Función para verificar si la base de datos ya existe
        function verificarExistenciaIndexedDB() {
            indexedDB.databases().then(function (dbs) {
                var existe = dbs.some(function (db) {
                    return db.name === "FormularioDB";
                });

                if (existe) {
                    // La base de datos ya existe, no es necesario abrirla nuevamente
                    console.log("La base de datos ya existe");
                    verificarEstructuraIndexedDB();
                } else {
                    // La base de datos no existe, abrir para crearla
                    console.log("La base de datos no existe, creándolaa...");
                }
            });
        }

        window.onload = verificarExistenciaIndexedDB;
    </script>


</body>

</html>
